body, html 
{	
	background-color: #f6f6f6;
}

#painting 
{
	height: 400px; 
	width: 400px;
	background-color: #fff4db;
	box-shadow: 5px 5px #d6d6d6;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

#toprow
{
	height: 290px;
	width: 400px;
}

#bigbox
{
	height: 290px;
	width: 290px;
}

#divider1
{
	height: 290px;
	width: 10px;
}

#topleftcolumn
{
	height: 400px;
	width: 100px;
}

#divider2
{
	height: 10px;
	width: 100px;
}

#divider3
{
	height: 10px;
	width: 400px;
}

#bottomrow
{
	height: 110px;
	width: 400px;
}

#bottomrightcolumn
{
	height: 110px;
	width: 20px;
}

#squarebox
{
	height: 100px;
	width: 100px;
}

#divider4
{
	height: 100px;
	width: 10px;
}

#bottomrectangle
{
	height: 100px;
	width: 260px;
}

#divider5
{
	height: 10px;
	width: 20px;
}

.red
{
	background-color: red;
}

.blue
{
	background-color: blue;
}

.yellow
{
	background-color: yellow;
}

.black
{
	background-color: black;
}

.right
{
	float: right;
}

.left
{
	float: left;
}

.mediumbox
{
	height: 140px;
	width: 100px;
}

.tinybox
{
	height: 45px;
	width: 20px;
}